page-home {

    ion-content {

        .weather-temperature {
            font-size: 8rem;
            line-height: 1em;
        }

        ion-grid.grid {
            height: 100%;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
        }
    }
}
